/* :root {
    --title-font: Georgia, Times, 'Times New Roman', serif;
} */

/* temporary */
button:not(.small_button) img,
.button:not(.small_button) img {
    margin-right: 3px;
}

header { margin-top: -36px; }
main figure img { cursor: unset; }
main button { touch-action: manipulation; }

.container { max-width: 940px; }

/* Universal */
main * { image-rendering: pixelated; }
main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main p,
main figure {
    margin: 0;
    padding: 0;
}
header h2.title_start {
    color: var(--secondary-text);
}
main input[type="color"] {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 0 !important;

    padding: 0;
    margin-right: 6px;
    cursor: pointer;
}
main h4 {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 3px;

}
main h4:not(main h4:first-of-type) {
    margin-top: 20px;
}

/* Main */
main .preview_pane {
    margin-right: 18px;
}
main .customize_pane { width: 100%; }

main #cc_save_image_button {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 12px;
}
main .cc_reset_button {
    margin-left: auto;
}

/* Parts */
main .tab {
    background-color: rgb(51, 146, 255);
    width: 100%;
    margin: 0;
    padding: 4px 8px;
    border-radius: 3px;

    font-weight: bold;
}
main .tab:not(main .tab:first-of-type) { margin-left: 4px; }
main .tab.active_tab {
    background-color: white;
    color: black;
    cursor: unset;
}
main .tab_content {
    visibility: hidden;
    position: absolute;

    height: 600px;
    max-height: 80vh;
    overflow: auto;

    padding: 12px 0;
}
main .tab_content.active_tab {
    visibility: visible;
    position: unset;
}
main .tab_content div.flex {
    flex-wrap: wrap;
}

main .part {
    background-color: var(--lighter-bg);
    margin: 4px;
    padding: 4px;
    width: 80px;

    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease;
    text-align: center;
}
main .part:hover {
    transform: translateY(-2px);
    background-color: var(--border-color);
    transition: 0.1s background-color ease;
}
main .part.active {
    background-color: var(--text);
    color: var(--lighter-bg);
}
main .part_img {
    width: 72px;
    height: 72px;
}
main .part_icon {
    width: 20px;
    height: 20px;
    filter: drop-shadow(0 0 1px black) drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));

    position: absolute;
    top: 8px;
    right: 8px;
}

main .customize_item {
    margin-top: 12px;
    padding: 6px 16px;
    border: 1px solid var(--border-color);
    border-radius: 6px;

    /* justify-content: center; */
    align-items: center;
}
main .customize_item b { margin-right: 12px; }

main #character_creator_footer {
    border-top: 1px solid var(--border-color);
    margin-top: 24px;
    padding: 16px 0 24px;
}

/* Customize position */
main .position_container {
    width: 70px;
    height: 70px;
    position: relative;
    /* background-color: black; */
}

main .position_button {
    /* Reset styles (temporary) */
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: unset;
    overflow: unset;

    position: absolute;

    width: 20px;
    height: 20px;
}
main .position_button > div {
    width: 20px;
    height: 20px;

    background-color: var(--border-color);
    border-radius: 0 0 3px 3px;

    transform-origin: top;
    /* perspective: 2em; */

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
main .position_button:hover,
main .position_button:focus-visible {
    --border-color: var(--text);
}
main .position_button:active > div {
    opacity: 0.8;
    transform: rotateX(20deg);
}

main .position_button svg {
    fill: var(--border-color);
    position: absolute;
    bottom: 100%;
    left: 0;

    padding: 0;
    margin: 0;

    transition: fill 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0.8;
}

/* Button positioning */
main .position_button.pos_up {
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}
main .position_button.pos_left {
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}
main .position_button.pos_right {
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}
main .position_button.pos_down {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Canvas */
canvas {
    background-color: white;
}


/* Media queries */

@media screen and (max-width: 775px) {
    main .cc_flexbox { flex-direction: column; }
}