/* :root {
    --title-font: Georgia, Times, 'Times New Roman', serif;
} */

/* temporary */
header {
    margin-top: -36px;
}
button * {
    display: inline-block;
}
main figure img { cursor: unset; }

.container { max-width: 920px; }

/* Universal */
main * { image-rendering: pixelated; }
main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main p,
main figure {
    margin: 0;
    padding: 0;
}
header h2.title_start {
    color: var(--secondary-text);
}
main input[type="color"] {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 0 !important;

    padding: 0;
}
main h4 {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 3px;

}
main h4:not(main h4:first-of-type) {
    margin-top: 20px;
}

/* Main */
main .preview_pane {
    margin-right: 18px;
}

main #cc_save_image_button {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 12px;
}
main #cc_save_image_button img {
    margin-right: 3px;
}

main .content_container {
    /* max-height: 600px;
    overflow: auto;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color); */
    border-radius: 6px;
}

/* Parts */
main .tab {
    background-color: rgb(6, 112, 184);
    border-radius: 3px;

    /* width: 120px; */
    width: 100%;
    margin: 0;
    padding: 4px 8px;

    font-weight: bold;
}
main .tab:not(main .tab:first-of-type) { margin-left: 4px; }
main .tab:hover {
    /* box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); */
    filter: brightness(130%) contrast(80%);
    color: white;
}
main .tab.active_tab {
    background-color: white;
    color: black;
    /* outline: 1px solid black; */
    cursor: unset;
}
main .tab_content {
    visibility: hidden;
    position: absolute;

    padding: 12px 0;
}
main .tab_content.active_tab {
    visibility: visible;
    position: unset;
}
main .tab_content div.flex {
    flex-wrap: wrap;
}

main .part {
    background-color: var(--lighter-bg);
    margin: 4px;
    padding: 4px;
    width: 80px;

    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease;
    text-align: center;
}
main .part:hover {
    transform: translateY(-2px);
}
main .part.active {
    background-color: white;
    color: black;
}
main .part_img {
    width: 72px;
    height: 72px;
}
main .part_icon {
    width: 20px;
    height: 20px;
    filter: drop-shadow(0 0 1px black) drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));

    position: absolute;
    top: 8px;
    right: 8px;
}

main .customize_item {
    margin-top: 12px;
    padding: 6px 16px;
    border: 1px solid var(--border-color);
    border-radius: 6px;

    /* justify-content: center; */
    align-items: center;
}
main .customize_item b { margin-right: 12px; }

main #character_creator_footer {
    border-top: 1px solid var(--border-color);
    margin-top: 24px;
    padding: 16px 0 24px;
}


/* Canvas */
canvas {
    background-color: white;
}


/* Media queries */

@media screen and (max-width: 775px) {
    main .cc_flexbox { flex-direction: column; }
}