:root {
    --bg: rgb(27, 27, 27);
    --secondary-bg: black;
    --border-color: rgb(100, 100, 100);

    --text: white;
    --alt-text: rgb(200, 200, 200);
}
.theme_light {
    --bg: rgb(230, 230, 230);
    --secondary-bg: white;
    --text: black;
    --alt-text: rgb(200, 200, 200);
}

/* Universal */
* {
    image-rendering: pixelated;
}
html { scrollbar-gutter: stable; }
body {
    margin: 0;
    min-height: 1200px;

    background-color: var(--bg);
    color: var(--text);
    font-family: Georgia, Times, 'Times New Roman', serif;

}
h1, h2, h3, h4, h5, h6,
p, figure {
    margin: 0;
    padding: 0;
}
h2.title_start {
    margin-top: 20px;
    color: var(--alt-text);
}
a#carrot_clicker_link {
    color: white;
    text-decoration: none;
    transition: color 0.1s ease;
}
a#carrot_clicker_link:hover {
    color: orange;
    text-decoration: underline;
}
h1 {
    padding: 8px 0;
    font-size: 32pt;
    line-height: 90%;
    font-weight: bold;
}
input[type="color"] {
    width: 48px;
    height: 48px;
    border: none;
}

button {
    font-size: 12pt;
    font-family: Georgia, Times, 'Times New Roman', serif;

    color: white;
    border: 2px solid transparent;
    cursor: pointer;
}
button:not(.tab) {
    margin: 6px 0 0;
    padding: 4px 16px;

    border-radius: 4px;

    background-color: var(--border-color);
    color: white;
}
button:hover {
    border-color: white;
}
a {
    color: rgb(73, 152, 255);
}

/* Main */
.container {
    width: 100%;
    max-width: 900px;
    padding: 16px;

    /* border: 1px solid white; */
    margin: 0 auto;
}
header.container { padding: 12px 16px 6px; }

/* Parts */
.tab {
    background-color: rgb(6, 112, 184);

    width: 120px;
    margin: 0;
    padding: 4px 8px;

    font-weight: bold;
}
.tab:hover {
    /* box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); */
    filter: brightness(120%);
}
.tab.active_tab {
    background-color: white;
    color: black;
    /* outline: 1px solid black; */
}
.flex { display: flex; }
.tab_content {
    visibility: hidden;
    position: absolute;

    padding: 12px 0;
}
.tab_content.active_tab {
    visibility: visible;
    position: unset;
}
.tab_content > div.flex {
    flex-wrap: wrap;
}

.part {
    background-color: var(--secondary-bg);
    margin: 4px;
    padding: 4px;

    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.part:hover {
    transform: translateY(-2px);
}
.part.active {
    background-color: white;
    color: black;
}
.part_img {
    width: 72px;
    height: 72px;
}
.part_icon {
    width: 20px;
    height: 20px;
    filter: drop-shadow(0 0 1px black) drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));

    position: absolute;
    top: 8px;
    right: 8px;
}

.customize_item {
    margin-top: 12px;
    padding: 12px 16px;
    border: 1px solid var(--border-color);
    border-radius: 6px;

    /* justify-content: center; */
    align-items: center;
}
.customize_item h4 { margin-right: 12px; }

#footer {
    border-top: 1px solid var(--border-color);
    margin-top: 64px;
}


/* Canvas */
canvas {
    background-color: white;
}